#alerts{ 
    z-index: 3000;
    box-shadow: 1px 1px 3px #000;
    position: absolute;
    right: -300px;
    margin-left: 5px;
    top: 10px;
    min-height: 100px;
    opacity: 0.7;
  }

  #alerts:hover{
    opacity: 1;
  }